@font-face {
    font-family: IBM_Plex_Sans;
    src: local('IBM Plex Sans'), url('IBMPlexSans-Regular.ttf');
}
@font-face {
    font-family: Roboto;
    src: url(Roboto-Regular.ttf);
}

html {
    overflow-y: scroll;
    height: 100%;
}
body {
    margin: 0px; /*ensures no bastard chrome automatic 8px margins*/
}

#main_column {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-top: 17px;

}

.search_bar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    height: 40px;
    width: 85%;
    max-width: 600px;
    border-radius: 40px 40px;
    border: 0.1px solid #cbd9f4;
    background-color: #040a16;
}

.search_box {
    background-color: #040a16; 
    color: #cbd9f4;
    border: none;
    font-family: IBM_Plex_Sans;
    flex-grow: 1;
    resize: none;
    outline: none;
    margin: 4px 0 4px 20px;
    padding: 6px 0 6px 6px;
    font-size: 16px;
    overflow: hidden;
    white-space: nowrap;
}



.search_button {
    width: 40px;
    padding: 4px 8px 4px 4px;
    flex-shrink: 0;
    fill: #cbd9f487;
    cursor: pointer;
    border-radius: 0 40px 40px 0;
    -webkit-tap-highlight-color: transparent;
}
.search_button:hover {
    fill: #cbd9f4;
}



#results_column {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    width: 100%;
    max-width: 475px;
    margin-top: 10px;
    visibility: hidden;
}
.result_block {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    width: 100%;
    /*height: 290px; */
    
    margin-bottom: 30px;
    box-sizing: border-box;
}
.thumbnail_square {
    /*border: 1px solid yellow; */
    position: relative; /*this makes child-elements with position: absolute be placed absolutely relative to the parent*/
    height: 65.19877285%;
    box-sizing: border-box;
}
.thumbnail_img {
    /*height: 100%;*/
    width: 100%;
}

.runtime_overlay {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 20px;
    min-width: 33.13px;
    width: fit-content;
    box-sizing: border-box;
    padding: 3px 5px 3px 5px;
    margin: 5px;
    border-radius: 4px;
    background-color: rgba(0,0,0,0.8);

    color: white;
    font-size: 12px;
    font-family: Roboto, Arial, sans-serif;
}
.runtime_overlay[data-livestream="1"] {
    background-color: rgba(204,0,0,0.9);
}


.details_square {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    height: 90px;
    height: 34.80122715%;
    /* border: 1px solid red; */
    box-sizing: border-box;
}
.channel_logo_block {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    width: 17.777777778%;
    /* border: 1px solid green; */
    box-sizing: border-box;
    padding: 3% 3% 0px 3%;
}
.channel_img {
    width: 100%;
    border-radius: 50%;
    box-sizing: border-box;
}

.video_details_block{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    width: 82.2222222222%;
    /* border: 1px solid white; */
    box-sizing: border-box;
}
.video_title {
    font-family: Roboto;
    font-size: 14px;
    color: #f1f1f1;
    line-height: 1.25;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 3.5% 8% 0px 0px;

    word-wrap: break-word;
}
.video_byline {
    font-family: Roboto;
    font-size: 12px;
    color: #aaaaaa;
    opacity: 0.85;
    margin: 1.5% 8% 0px 0px;

    word-wrap: break-word;
}


.loader {
    margin-top: 15px;
    align-self: center;
    border: 3px solid #cbd9f487;
    border-radius: 50%;
    border-top: 3px solid #071022;
    border-top: 3px solid #071022;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 1s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

#selected_vid_column {
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    justify-content: flex-start;
    align-items: center;   
}
@media (max-aspect-ratio: 1) {
    #selected_vid_column{
        flex-flow: column nowrap;
    }
}
@media (min-aspect-ratio: 1) {
    #selected_vid_column{
        flex-flow: row nowrap;
    }
    #vid_controls {
        justify-content: center;
    }
    #selected_vid_box {
    
    }
}

#selected_vid_box {
    height: 100%;
    width: 100%;
   /* border: 1px solid red; */
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding: 10px 10px 10px 0;
}

#vid_title_selected {
    margin: 0;
    padding: 10px;
   /* padding-left: 10%; */
    padding-bottom: 1px;
    font-weight: bold;
    text-align: left;
    font-size: 19px;
    line-height: 1.25;
    overflow: inherit;
}

#vid_byline_selected {
    font-family: Roboto;
    font-size: 12px;
    color: #aaaaaa;
    opacity: 0.85;
    padding-left: 13px;
    padding-right: 13px;
    margin-bottom: 9px;
    margin-top: 2px;

    word-wrap: break-word;
}


#details_square_selected {
    height: fit-content;
}

#channel_logo_block_selected {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    width: 17.777777778%;
    /* border: 1px solid green; */
    box-sizing: border-box;
    padding: 3% 3% 3% 3%;
}

#selected_details_block {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    width: 82.2222222222%;
    /* border: 1px solid white; */
    box-sizing: border-box;
}

#channel_name_selected {
    font-family: Roboto;
    font-size: 15px;
    color: #f1f1f1;
    word-wrap: break-word;
}

#vid_controls {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    height: 100%;
    width: 100%;
    border: 1px sold green;
    box-sizing: border-box;
    justify-content: center;
}

#playback_controls {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.playback_btn {
    height: 100%;
    width: 100%;
}

#selected_thumbnail {
    height: auto;
}

.button {
    padding: 20px;
}
.button.left{
    padding: 40px;
}
.button.right {
    padding: 40px;
}

.video_options {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    overflow: hidden;
    width: 100%;
    height: 40px;
}

.download_btn {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: flex-end;
    height: fit-content;
    width: fit-content;
    border-radius: 40px;
    padding: 4px 6px 4px 6px;
    background-color: rgb(247, 204, 112);
    box-sizing: border-box;
    min-width: 94.08px;
}
.download_btn_text {
    height: fit-content;
    font-size: 10px;
    padding: 5px 5px 2px 5px;
    font-family: 'Roboto';
}

.download_icon {
    height: 16px;
}